{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Home - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block header-subheading %}
    {% if search_keyword %}
        <h4>Search By: {{ search_keyword }}</h4>
    {% endif %}
    {% if filter_ingredient %}
        <h4>Filter By: {{ filter_ingredient }}</h4>
    {% endif %}
    {% if page > 1 %}
        <h4>Page: {{ page }}</h4>
    {% endif %}
{% endblock %}

{% block header-right-area %}
    {% if user.is_authenticated %}
        <h4>{{ user }}</h4>
        <h5><a href="/logout">Log Out</a></h5>
    {% else %}
        <h5>Anonymous</h5>
        <h5><a href="/login">Log In</a></h5>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'recipes/sidebar.html' %}
{% endblock %}

{% block content %}
    {% for recipe in recipes %}
        {% include 'recipes/recipe.html' %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% if filter_ingredient %}
        <a class="nav-buttons-outer" href="/?ingredient={{ filter_ingredient }}">First</a>
        <a class="nav-buttons-inner" href="/?ingredient={{ filter_ingredient }}&page={{ prev_page }}">Previous</a>
    {% else %}
        <a class="nav-buttons-outer" href="/">First</a>
        <a class="nav-buttons-inner" href="/?page={{ prev_page }}">Previous</a>
    {% endif %}
    {% for i in page_range %}
        {% if i == page %}
            <p class="nav-buttons-pages">{{ i }}</p>
        {% else %}
            <a class="nav-buttons-pages" href="/?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if filter_ingredient %}
        <a class="nav-buttons-inner" href="/?ingredient={{ filter_ingredient }}&page={{ next_page }}">Next</a>
        <a class="nav-buttons-outer" href="/?ingredient={{ filter_ingredient }}&page={{ last_page }}">Last</a>
    {% else %}
        <a class="nav-buttons-inner" href="/?page={{ next_page }}">Next</a>
        <a class="nav-buttons-outer" href="/?page={{ last_page }}">Last</a>
    {% endif %}
{% endblock %}