{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Home - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block header-subheading %}
    {% if search_keyword %}
        <h4>Search By: {{ search_keyword }}</h4>
    {% endif %}
    {% if filter_ingredient %}
        <h4>Filter By: {{ filter_ingredient }}</h4>
    {% endif %}
    {% if page_obj.number > 1 %}
        <h4>Page: {{ page_obj.number }}</h4>
    {% endif %}
{% endblock %}

{% block header-right-area %}
    {% if user.is_authenticated %}
        <h4>{{ user }}</h4>
        <h5><a href="/logout">Log Out</a></h5>
    {% else %}
        <h5>Anonymous</h5>
        <h5><a href="/login">Log In</a></h5>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'recipes/sidebar.html' %}
{% endblock %}

{% block content %}
    {% for recipe in recipes %}
        {% include 'recipes/recipe.html' %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% load qurl %}
    <a class="nav-buttons-outer" href="{% qurl request.get_full_path page=None %}">First</a>
    {% if page_obj.has_previous %}
        <a class="nav-buttons-inner" href="{% qurl request.get_full_path page=page_obj.previous_page_number %}">Previous</a>
    {% else %}
        <a class="nav-buttons-inner" href="{% qurl request.get_full_path page=None %}">Previous</a>
    {% endif %}
    {% for i in footer_page_range %}
        {% if i == page_obj.number %}
            <p class="nav-buttons-pages">{{ i }}</p>
        {% else %}
            <a class="nav-buttons-pages" href="/?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="nav-buttons-inner" href="{% qurl request.get_full_path page=page_obj.next_page_number %}">Next</a>
    {% else %}
        <a class="nav-buttons-inner" href="{% qurl request.get_full_path page=paginator.num_pages %}">Next</a>
    {% endif %}
    <a class="nav-buttons-outer" href="{% qurl request.get_full_path page=paginator.num_pages %}">Last</a>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}