{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Share Recipe - Recipes</title>
{% endblock %}

{% block header-subheading %}
    {% if edit_mode %}
        <h4>Edit recipe:</h4>
    {% else %}
        <h4>Share a new recipe:</h4>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="recipe-form-container">
        <form method="POST" class="recipe-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input hidden type='text' name='edit_mode' value="{{ edit_mode }}"/>
            <input hidden type='text' name='recipe' value="{{ recipe.id }}"/>
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button type="submit" class="save-button">Save</button>
        </form>
    </div>
{% endblock %}