{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Share Recipe - Recipes</title>
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block header-subheading %}
    {% if edit_mode %}
        <h4>Edit recipe:</h4>
    {% else %}
        <h4>Share a new recipe:</h4>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="recipe-form-container">
        <form method="POST" class="recipe-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input hidden type='text' name='edit_mode' value="{{ edit_mode }}"/>
            <input hidden type='text' name='recipe' value="{{ recipe.id }}"/>
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button type="submit" class="save-button">Save</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}