<div class="recipe">
    <h2><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></h2>
    <div class="date-author">
        {{ recipe.date.date }}
        by {{ recipe.author }}
    </div>
    {% if user == recipe.author %}
        <a href="/recipe/{{ recipe.id }}/edit">Edit</a><br>
    {% else %}
        <br>
    {% endif %}
    <a href="/recipe/{{ recipe.id }}"><img src="{{ recipe.image.url }}"></a>
    <h4>Difficulty:</h4>
    <p>{{ recipe.difficulty }}</p>
    <h4>Ingredients:</h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h4>Instructions:</h4>
    {% load martortags %}
    {{ recipe.instructions|safe_markdown }}
</div>