{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>{{ recipe }} - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block header-subheading %}
    <h4>Recipe Details: {{ recipe }}</h4>
{% endblock %}

{% block header-right-area %}
    <div class="login-logout">
        {% if user.is_authenticated %}
        <h4>{{ user }}</h4>
        <h5><a href="/logout">Log Out</a></h5>
        {% else %}
        <h5>Anonymous</h5>
        <h5><a href="/login">Log In</a></h5>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'recipes/sidebar.html' %}
{% endblock %}

{% block content %}
    {% include 'recipes/recipe.html' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}