.error-404-container {
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.error-404-container h1 {
    color: #7356ad;
    font-size: 100px;
}

.error-404-container h2 {
    color: #7356ad;
}