.page-header {
    background-color: #7356ad;
    margin-top: 0;
    padding: 20px 20px 20px 63px;
}

.page-header h1 a {
    color: #ffffff;
}

.login-container-outer {
    height: 300px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #8456b34d;
    background-color: #8456b369;
}

.login-container-inner {
    margin: 117px;
    margin-top: 60px;
}

.login-container-inner button {
    width: 100px;
    margin-top: 25px;
    margin-left: 30px;
}