.page-header {
    background-color: #7356ad;
    margin-top: 0;
    padding: 20px 20px 20px 63px;
}

.page-header h1 a {
    color: #ffffff;
}

.form-container {
    height: auto;
    width: 800px;
    margin: auto;
    margin-top: 80px;
    padding-top: 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #8456b34d;
    background-color: #8456b369;
    display: flex;
    align-content: center;
    justify-content: center;
}

.form-container #id_image {
    display: inline;
}

.form-container textarea {
    width: 500px;
}

.form-container select[multiple]{
    width: 163px;
}

.form-container button {
    width: 100px;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 10PX;
}