.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page-header {
    background-color: #7356ad;
    margin-top: 0;
    padding: 20px 20px 20px 63px;
    display:flex;
    align-items:center;
    justify-content: space-between
}

.page-header a {
    color: #ffffff;
}

.page-header .login-logout {
    text-align: center;
    margin-right: 41px;
}

.page-content {
    flex: 1;
}

.page-sidebar {
    float: right;
    padding-right: 60px;
}

.sidebar-search {
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #8456b34d;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar-search input {
    border-color: #8456b34d;
}

.sidebar-ingredients {
    width: 250px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #8456b34d;
}

.sidebar-ingredients h4 {
    padding-left: 10px;
}

.recipes-container {
    padding-left: 60px;
}

.single-recipe-container {
    width: 700px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #8456b34d;
}

.recipe {
    padding-left: 20px;
}

.recipe h2 {
    display: inline-block;
}

.recipe img {
    height: 200px;
    padding-left: 2px;
    border-radius: 10px;
}

.recipe h4 {
    padding-left: 3px;
}

.recipe p {
    padding-left: 10px;
    width: 500px;
}

.recipe ul {
    padding-left: 26px;
}

.page-navigation {
    background-color: #7356ad;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    float: bottom;
}

.page-navigation .nav-buttons-inner {
    margin-right: 25px;
    margin-left: 25px;
}

.page-navigation .nav-buttons-outer {
    margin-right: 10px;
    margin-left: 10px;
}

.page-navigation p {
    font-size: 13pt;
    display: inline;
}

.page-navigation a {
    font-size: 13pt;
    color: #ffffff;
}