[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/hipo-exercise
ExecStart=/home/ubuntu/hipo-exercise/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/hipo-exercise/hipo_exercise.sock hipo_exercise.wsgi:application
EnvironmentFile=/home/ubuntu/.pam_environment

[Install]
WantedBy=multi-user.target