{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Login - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block header-subheading %}
    <h4>Login</h4>
{% endblock %}

{% block content %}
    <div class="user-form-container">
        <form method="POST" class="login-form">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <p>
                <a href="/register">Register</a> —
                <a href="/forgot">Forgot password?</a>
            </p>
            <div class="form-button-container">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}