{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Login - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block header-subheading %}
    <h4>Login</h4>
{% endblock %}

{% block content %}
    <div class="login-form-container">
        <form method="POST" class="login-form">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}