{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Change password - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block header-subheading %}
    <h4>Change password</h4>
{% endblock %}

{% block content %}
    <div class="user-form-container">
        {% if validlink %}
            <form method="POST" class="password-reset-confirm-form">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <div class="form-button-container">
                    <button type="submit">Change password</button>
                </div>
            </form>
        {% else %}
            <h5 class="link-expired">This link has expired!</h5>
        {% endif %}
    </div>
{% endblock %}