{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Forgot password - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block header-subheading %}
    <h4>Forgot password</h4>
{% endblock %}

{% block content %}
    <div class="user-form-container">
        <p>Forgot your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="POST" class="password-reset-request-form">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <div class="form-button-container">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock %}