{% extends 'recipes/base.html' %}
{% load static %}

{% block head %}
    <title>Registration - Recipes</title>
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block header-subheading %}
    <h4>Registration</h4>
{% endblock %}

{% block content %}
    <div class="user-form-container">
        <form method="POST" class="registration-form">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <div class="form-button-container">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock %}